/* body{
  font-family: "museo san"
} */
.starter{

  height: 600px;
  width: 100%;
  background-image: url(../immagini/sfondo1.jpg);
background-position: left;
  background-repeat: no-repeat;
background-size: contain;
}
ul{
  list-style: none;
  color:white;
}
.sopra{
  height: 100px;
  width: 100%;
  background-color:#0d325a;
    text-decoration: none;
  color:white;

}
.barra{
margin-top:-45px;
  display: block;
  color:white;
}
.barra a{
  float: left;
    text-decoration: none;
      color:white;
      margin-left: 20px;
      margin-top: 40px;
}
#immagine{
  float:left;
  margin-left: 150px;
  margin-right: 55px;
  margin-top: 25px;
}
.sotto{
  margin-top: -100px;
padding-top:2px;
  height: 150px;
  width: 100%;
  background-color:#f9f9f9;
  text-align: center;
}
.blocco1{
  display: inline-block;
  float: left;
  height: 500px;
  width: 100%;
  background-color:white;
  border-bottom: 2px solid #f9f9f9;
}

.blocco2{
  height: 450px;
  width: 100%;
  background-color:white;
  }

  .chiusura-float::after {
    display:table;
    content:"";
    clear:both;
  }

  .blocco3{
    display: inline-block;
  padding-left:200px;
  padding-top:50px;
    height: 150px;
    width: 100%;
    background-color:#f9f9f9;
}
.blocco4{
  height: 450px;
  width: 100%;
  background-color:#0d325a;
  display: inline-block;
  }
  .blocco5{
    height: 500px;
    width: 100%;
    background-color:white;
    border-bottom: 2px solid #f9f9f9;
  }
  .blocco6{
    height: 500px;
    width: 100%;
    background-color:white;

  }
  .blocco7{
    height: 450px;
    width: 100%;
    background-color:#0d325a;
    }
    .blocco8{
      height: 450px;
      width: 100%;
      background-color:white;
      }
      .blocco9{
        height: 150px;
        width: 100%;
        background-color:#0d325a;
      }
      .blocco10{
        height: 450px;
        width: 100%;
        background-color:#483D8B;
        }
#pargrigio{
  padding-bottom:20px;
  color:#999;
}
#parbianco{
  padding-top:25px;
  margin-bottom: -30px;
}
.blocco1 div{
  float: left;
  display: inline-block;
}
.dimensionimg{
  height:170px;
width: 120px;}

.titverde{

  color:#7fb802;
}
.grey{
  color:#999;
}
.testa{
  font-size: 15px;
  margin-left: 100px;
  text-align: center;
  float: left;
  height:300px;
  width: 300px;
}
.pc{
    font-size: 15px;
  margin-top: 50px;
  margin-left: 100px;
  float: left;
    text-align: center;
  height:300px;
  width: 300px;
}
.quaderno{
    font-size: 15px;
  margin-left: 100px;
    text-align: center;
  float: left;
  height:300px;
  width: 300px;
}
hr{

width: 40px;
color: #999;
}
#scalata{
padding-top: 200px;
float: left;
  margin-top: 50px;
  margin-left: 140px;
}
.testo{

  margin-top: 200px;
  margin-left: 200px;
  height: 500px;
  width: 600px;
  float: left;
}
a:link, a:visited {
  font-size: 18px;
    text-decoration: underline;
    color: #98c8f8;
    background-color: transparent;
}
.foto img{
margin-top: -150px;
  width: 400px;
  margin-right: 200px;

}
.foto{
  display:inline-block;

float: right;

}
#bianco{
  color:white;
  font-size: 50px;
}
#orange{
  color:orange;
  font-size: 50px;
}
.grigi{
  color:#999;
}
.lezioni{
  padding:30px;
  height: 200px;
  width: 400px;
}
.titolounito{
  width:1000px;
}
.imgimg{
  height: 200px;
  width: 50px
}
